
.cart-header{
    height: 5rem;
    border-bottom: 0.1rem solid #c0c0c0;
    display: flex;
    align-items: center;
}

.cart{
    padding: 1rem;
    margin: 1rem;
    list-style-type: none;  
}

.cart-item{
    display: grid;
    grid-template-columns: 5rem auto;
    margin-bottom: 5px;
    gap: 0.5rem;
}

.cart-item img{
    width: 100%;
}

.cart-item .right{
    display: grid;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.cart-item .right .info{
    display: grid;
    grid-auto-flow: column;
}

.total{
    border-top: 1px solid #c0c0c0;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}

.btn-checkout{
    margin: 5px;
    padding: 6px 18px; 
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}


/* form */
.checkout-form{
    margin-top: 20px;
    width: 100%;
}

/* ul */
.checkout-form .container{ 
    width: 100%;
    list-style: none;
}

/* li */
.checkout-form .form-group{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.checkout-form .form-control{
    padding: 1rem;
    border: 0.1rem solid #c0c0c0;
}

.checkout-form .btn-submit{
    margin: 1rem 0 0 1rem;
    padding: 6px 12px;
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
