@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;  
}

body, input, select, textarea, button{
  font-size: 1.36rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}


a:hover{
  color: #ff8000;
}



